<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Survay Reports</h3>			
		</div>
		<table class="table table-hover" id="dev-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Survay Name</th>
					<th>Survay Type</th>
					<th>Suravy Details</th>
					<th class="text-center">Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Kilgore</td>
					<td>Trout</td>
					<td>kilgore</td>
					<td class="text-center">
						<button (click)="openSnackBar()" mat-button color="warn"><mat-icon>delete</mat-icon></button>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Bob</td>
					<td>Loblaw</td>
					<td>boblahblah</td>
					<td class="text-center">
						<button (click)="openSnackBar()" mat-button color="warn"><mat-icon>delete</mat-icon></button>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Holden</td>
					<td>Caulfield</td>
					<td>penceyreject</td>
					<td class="text-center">
						<button (click)="openSnackBar()" mat-button color="warn"><mat-icon>delete</mat-icon></button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Kilgore</td>
					<td>Trout</td>
					<td>kilgore</td>
					<td class="text-center">
						<button (click)="openSnackBar()" mat-button color="warn"><mat-icon>delete</mat-icon></button>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Bob</td>
					<td>Loblaw</td>
					<td>boblahblah</td>
					<td class="text-center">
						<button (click)="openSnackBar()" mat-button color="warn"><mat-icon>delete</mat-icon></button>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Holden</td>
					<td>Caulfield</td>
					<td>penceyreject</td>
					<td class="text-center">
						<button (click)="openSnackBar()" mat-button color="warn"><mat-icon>delete</mat-icon></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>