<mat-card>
	<mat-card-title>Edit User</mat-card-title>
	<form class="example-form">
	  <mat-form-field class="mw100 mrgBtm20">
	    <input matInput placeholder="First Name">
	  </mat-form-field>
	  <mat-form-field class="mw100 mrgBtm20">
	    <input matInput placeholder="Last Name">
	  </mat-form-field>
	  <mat-form-field class="mw100 mrgBtm20">
	    <input matInput placeholder="Mobile Number">
	  </mat-form-field>
		<mat-form-field class="mw100 mrgBtm20">
		  <mat-select placeholder="User Type">
		    <mat-option >Administrator</mat-option>
		    <mat-option >User</mat-option>
		    <mat-option >Client</mat-option>
		  </mat-select>
		</mat-form-field>
	  <mat-form-field class="mw100 mrgBtm20">
	    <input matInput placeholder="Address">
	  </mat-form-field>
	  <br>
		<image-upload></image-upload>
		<br>
	</form>

	<button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>
	<button mat-raised-button color="primary" mat-dialog-close (click)="openSnackBar(); ">Change</button>

</mat-card>