<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main blog">
	<mat-card>
		<mat-card-title>Add Blog</mat-card-title>
		<form class="example-form">
			<mat-form-field class="mw100 mrgBtm20">
			  <mat-select placeholder="User">
			    <mat-option >Administrator</mat-option>
			    <mat-option >User</mat-option>
			    <mat-option >Client</mat-option>
			  </mat-select>
			</mat-form-field>
		  <mat-form-field class="mw100 mrgBtm20">
		    <input matInput placeholder="Blog Title">
		  </mat-form-field>

		  <mat-form-field class="mw100 mrgBtm20">
		    <textarea matInput placeholder="Enter blog text" rows="10"></textarea>
		  </mat-form-field>
		  <br>
			<image-upload></image-upload>
			<br>
		</form>

		<button mat-raised-button color="warn">Reset</button>
		<button mat-raised-button color="primary">Submit</button>

	</mat-card>
	
</div>