@import '~@angular/material/_theming.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$primary: mat-palette($mat-blue-grey, 800);
$accent: mat-palette($mat-orange, A200, A100, A400);
$warn: mat-palette($mat-red);
$lightBlue: mat-palette($mat-light-blue, 800);
$gray: mat-palette($mat-grey);

$custom-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($custom-theme);