<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a routerLink="../view">Dashboard <span class="sr-only">(current)</span></a></li>
    <li><a routerLink="../report">Survey Reports</a></li>
    <li><a routerLink="../blog" href="#">Blog</a></li>
    <li><a routerLink="../users">Users</a></li>
  </ul>
  <!-- <ul class="nav nav-sidebar">
    <li><a href="">Nav item</a></li>
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
  </ul> -->
</div>